<div class="main-div">
      <div class="navbardiv">
        <nav class="navbar">
          <ul>
              <li><a href="#home">Home</a></li>
              <li><a href="#account">My Account</a></li>
              <li><a href="#orders">Orders</a></li>
              <li><a href="#help">Help</a></li>
          </ul>
        </nav>
        
      </div>
      
      <div class = "components">
        <app-home id="home"></app-home>
        <app-account id="account"></app-account>
        <app-orders id="orders"></app-orders>
        <app-need-help id="help"></app-need-help>
      </div>
    </div>